<nav>
    <div class="navbar-container">
        <a href="/">
            <h1>Mocha Maven</h1>
        </a>
        <p>Warm greetings from Mocha Maven!</p>

        <div class="navbar-container">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li><a href="/">Home</a></li>
                <li><a href="/coffees">Coffee Menu</a></li>
                <li><a href="/coffees/create">Add Menu</a></li>
            </ul>
        </div>
    </div>
    </div>
</nav>